/*!
 * Форма (Form).
 *
 * Модуль "Панель разделов".
 *
 * Copyright 2015 RosGear
 * Copyright Anton Tivonenko <anton.tivonenko@gmail.com>
 * Licensed https://rosgear.ru/license/
 */

 /**
 * Выпадаюший список элементов.
 */
.rg-partitionbar__boundlist-icon { 
    line-height: 25px; }

    .rg-partitionbar__boundlist-icon.font-icon {
        position: relative;
        padding-left: 40px; }

        .rg-partitionbar__boundlist-icon.font-icon i {
            position: absolute;
            left: 5px;
            font-size: 21px;
            color: #90B9A3; }

        .rg-partitionbar__boundlist-icon.font-icon span {
            color: silver;
            font-size: 12px; }